$white : #ffffff;
$black :#050605;
$grey: #DFDBDB;
$darkGrey : #6B6B6B;
$orange : #F89C18;
$blue : #224998;
$purple : #C3A4C7;
$regularGrey : #9F9F9F;
$brown : #4D3A21;
$violet : #7C287F;
$r-black: #121212;
$red : #e4021b;
$r-gray: #121212;
$r-dark: #DDABB3;
$g-black: #E3E3E3;
$r-purple:#7C287F;

